* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  background-image: url("./assets/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}
